TestComparison/src/main/resources/xsd/Target.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Employee">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="EmpNumber" type="xs:string"/>
                <xs:element name="FullName" type="xs:string"/>
                <xs:element name="DeptCode" type="xs:string"/>
                <xs:element name="ContactEmail" type="xs:string"/>
                <xs:element name="AnnualSalary" type="xs:decimal"/>
                <xs:element name="Status" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>